h1{
    color: #f00;
    text-decoration: underline;
}
.kontener{
    height: 100vw;
}
li{
    margin-left: auto;
    margin: 6pt;
    font-weight: 500;
    text-decoration: none;
    color: rgb(252, 236, 239);
}