* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right bottom, rgba(10, 10, 10, 0.7), rgba(0, 0, 0, 0.9));
    height: 100vw;

}
 #kep{
     width: 50vw;
    

    }
